* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  position: relative; }

main {
  background-color: #fdf9f2; }

footer {
  background: linear-gradient(to bottom, white, #fdf9f2); }

.contenedor {
  width: 120rem;
  margin: 0 auto; }

hr {
  margin: 0; }

.hero {
  background-image: url(../img/ciudad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding: 50rem 0;
  position: relative; }
  .hero contenido-hero {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .hero h2 {
    font-size: 5rem;
    font-style: italic;
    color: white; }

.mapa {
  max-width: 100%;
  height: auto; }

.fondo-servicios {
  background-image: url(../img/ST10fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto; }

h1 {
  color: #ca9e64;
  font-style: italic;
  font-weight: normal;
  font-size: 8rem;
  padding: 5rem; }

.descripcion {
  font-style: italic; }

p, .lista-servicios {
  font-size: 2rem;
  text-align: center;
  line-height: 2;
  margin: 0;
  padding: 3rem 6rem;
  letter-spacing: 2px;
  font-weight: normal; }

h1, p, .footer {
  text-align: center; }

#error404 {
  background-color: #ca9e64;
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #error404 .contenedor-404 h2, #error404 .contenedor-404 p {
    text-align: center; }

.navPrincipal {
  width: 100%;
  font-size: 2.5rem;
  letter-spacing: 5px;
  padding: 1rem;
  position: sticky;
  z-index: 9999;
  top: 0px;
  background-color: white;
  opacity: .90; }
  .navPrincipal ul {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0; }
  .navPrincipal a:hover {
    font-size: 2.7rem; }

li {
  list-style: none;
  justify-content: space-between;
  height: 20%; }
  li a {
    text-decoration: none;
    cursor: pointer; }
  li a:active, li a:hover {
    font-weight: bold; }
  li a:link, li a:visited, li .sanTelmo__pagina, li .sanTelmo__pagina:active {
    color: #ca9e64; }

.sanTelmo .sanTelmo__titulo {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-delay: 0s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sanTelmo .sanTelmo__pagina {
  color: #ca9e64;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem; }

.carousel .carousel-item {
  max-width: 100%;
  height: auto; }

.cardContenedor {
  padding: 16px;
  display: flex;
  justify-content: space-evenly; }

.card {
  flex-direction: row;
  background-color: #fdf9f2; }
  .card .card__habitaciones {
    flex-grow: 1;
    border-radius: 5px;
    margin: 16px;
    background-color: white;
    width: 23rem;
    height: 50rem; }
  .card .card__habitaciones:hover {
    width: 24rem;
    height: 51rem; }
  .card .card__habitaciones .card__imagen {
    padding: 3rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .card .card__contenido {
    padding: 0; }
  .card .card__habitaciones {
    padding: 16px 8px;
    text-align: center; }
  .card .card__titulo {
    padding: 2rem 0; }
  .card .card__habitaciones .card__titulo {
    padding-bottom: 8px; }
  .card .card__texto {
    letter-spacing: normal;
    padding: 1rem 2rem; }

.aclaraciones p {
  text-align: start;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem 0 1rem 5rem; }

#grilla1 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 4rem; }
  #grilla1 .servicios {
    width: 20rem;
    height: 19rem;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px; }
  #grilla1 .servicios:hover {
    width: 23rem;
    height: 20rem; }
  #grilla1 .serviciosIcono {
    display: grid;
    justify-content: center;
    width: 100%; }
  #grilla1 .serviciosTexto {
    width: 100%; }
  #grilla1 .servicios-nombre {
    font-size: 1.7rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-align: center; }
  #grilla1 .servicioContenedor {
    padding: 0 10rem 0 10rem; }

@media only screen and (max-width: 600px) {
  .navPrincipal {
    position: static; }
  h1, .sanTelmo__titulo {
    padding: 8rem 5rem 3rem 5rem;
    font-size: 5.4rem; }
  .alvear {
    padding: 5rem;
    font-size: 5.5rem; }
  p {
    padding: 3rem;
    font-size: 2rem; }
  .hero {
    padding: 15rem 0; }
    .hero h2 {
      font-size: 2rem; }
  .mapa {
    max-width: 100%;
    height: auto; }
  ul, .iconos, .dropdown-menu {
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: .5rem; }
  .contenedor-secundario p {
    padding-bottom: 2rem; }
  .contenedor-secundario, .contenedor-terciario {
    padding: 3rem 0; }
  .btn {
    font-size: 2rem; }
  footer .contenedor-contacto {
    align-items: center;
    padding: 1rem 0; }
    footer .contenedor-contacto p {
      text-align: center;
      font-size: 1.5rem; }
  footer .footer__icono {
    flex-direction: row;
    justify-content: center; }
  footer .footer__texto {
    padding: 1rem; }
  footer .footer__nav {
    justify-content: center; }
    footer .footer__nav li {
      padding: 0 1rem; }
    footer .footer__nav a {
      font-size: 1.5rem; }
  #grilla1 {
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    padding: 0 1rem 0 1.5rem;
    width: 80%;
    margin-left: 4rem; }
    #grilla1 .servicios {
      margin-bottom: 3rem;
      width: 19rem;
      height: 19rem; }
    #grilla1 .servicios:hover {
      width: 20rem;
      height: 20rem; }
  .aclaraciones p {
    padding: 1rem 2rem; }
  .card {
    display: block;
    justify-content: center; }
    .card .card__habitaciones {
      margin: 4rem 8rem;
      width: 30rem;
      height: 45rem; }
    .card .card__habitaciones:hover {
      width: 31rem;
      height: 46rem; }
    .card .card__contenido {
      width: 100%; }
    .card .input-text {
      font-weight: bolder; }
  .formulario {
    width: 90%; }
    .formulario .boton {
      width: 100%;
      font-weight: bold; } }

@media only screen and (min-width: 601px) {
  .navPrincipal {
    position: static; }
  .contenedor-secundario {
    padding: 0 4rem; }
    .contenedor-secundario p {
      padding-bottom: 4rem; }
  .contenedor-terciario {
    padding: 0 1rem 10rem 1rem; }
  h1, .sanTelmo__titulo {
    font-size: 6rem; }
  .alvear {
    font-size: 5rem; }
  p {
    padding: 0;
    font-size: 2rem; }
  .hero {
    padding: 20rem 0; }
    .hero h2 {
      font-size: 3rem; }
  .navPrincipal a:hover, .btn:hover {
    font-size: 2.1rem; }
  ul, .btn {
    font-size: 1.4rem;
    font-weight: bold; }
  #grilla1 {
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding: 0 1rem 0 1.5rem;
    width: 80%;
    margin-left: 4rem; }
    #grilla1 .servicios {
      margin-bottom: 3rem;
      width: 19rem;
      height: 19rem; }
    #grilla1 .servicios:hover {
      width: 20rem;
      height: 20rem; }
  .aclaraciones {
    padding: 2rem 0; }
    .aclaraciones p {
      padding: 3rem 3rem 0 3rem; }
  .lista-servicios {
    padding: 0; }
  .card {
    display: block;
    justify-content: center; }
    .card .card__habitaciones {
      width: 90%;
      margin: 4rem 13rem;
      width: 33rem;
      height: 40rem; }
    .card .card__habitaciones:hover {
      width: 34rem;
      height: 41rem; }
    .card .card__contenido {
      width: 100%; }
  .formulario {
    width: 80%;
    padding: 0; }
    .formulario .boton {
      font-weight: bold;
      width: 100%; }
  footer .contenedor-contacto {
    align-items: center;
    padding: 1rem 0; }
    footer .contenedor-contacto p {
      text-align: center;
      font-size: 1.8rem; }
  footer .footer__icono, footer .footer__nav {
    flex-direction: row;
    justify-content: center; }
  footer .footer__texto {
    text-align: center; }
  footer .footer__nav li {
    padding: 1rem; }
  footer .footer__nav a {
    font-size: 1.8rem; } }

@media only screen and (min-width: 768px) {
  .contenedor-secundario {
    padding: 0 3rem; }
    .contenedor-secundario p {
      padding-bottom: 6rem; }
  .contenedor-terciario {
    width: 100%;
    padding-bottom: 10rem; }
  h1, .sanTelmo__titulo, .alvear {
    font-size: 8rem; }
  ul, .btn {
    font-size: 2rem; }
  .hero {
    padding: 25rem 0; }
    .hero h2 {
      font-size: 4rem; }
  .navPrincipal a:hover, .btn:hover {
    font-size: 2.5rem; }
  .dropdown-menu a:hover {
    font-size: 2.1rem; }
  #grilla1 {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0;
    gap: 4rem;
    justify-content: space-evenly;
    margin-left: 7rem; }
    #grilla1 .servicios {
      padding: 2rem 0; }
    #grilla1 .servicios:hover {
      width: 21rem;
      height: 20rem; }
  .card {
    width: 70%;
    margin: auto;
    padding: 2rem auto; }
    .card .card__habitaciones {
      width: 90%;
      margin-left: 11rem;
      width: 33rem;
      height: 40rem; }
    .card .card__habitaciones:hover {
      width: 34rem;
      height: 41rem; }
  .formulario {
    width: 90%; }
    .formulario .boton {
      width: 100%;
      font-weight: bold; }
  footer .contenedor-contacto {
    align-items: flex-start;
    padding: 1rem 0; }
    footer .contenedor-contacto p {
      text-align: center;
      font-size: 1.8rem; } }

@media only screen and (min-width: 992px) {
  .navPrincipal {
    position: sticky; }
  .contenedor-secundario {
    padding: 0 10rem;
    margin: 0;
    width: 100%; }
  .contenedor-terciario {
    padding: 2rem 5rem 10rem 5rem; }
  .aclaraciones {
    text-align: start;
    padding: 2rem; }
  .hero {
    padding: 50rem 0; }
    .hero h2 {
      font-size: 6rem; }
  #grilla1 {
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    align-items: center;
    padding-bottom: 5rem;
    width: 80%; }
    #grilla1 .servicios {
      display: grid;
      padding: 1rem;
      margin: 0;
      width: 100%; }
    #grilla1 .servicios:hover {
      width: 21rem;
      height: 20rem; }
  .aclaraciones p {
    padding: 0;
    text-align: center; }
  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    width: 100%;
    margin: 0; }
    .card .card__habitaciones {
      align-items: center;
      width: 33rem;
      height: 40rem; }
    .card .card__habitaciones:hover {
      width: 34rem;
      height: 41rem; }
    .card .card__contenido {
      margin: 0; }
  .formulario {
    width: 65rem; }
    .formulario .boton {
      width: 15%;
      font-weight: bold; } }

@media only screen and (min-width: 1200px) {
  .contenedor-secundario {
    padding: 0 13rem; }
    .contenedor-secundario p {
      padding-bottom: 5rem; }
  .contenedor-terciario {
    padding: 0 13rem 10rem 13rem; }
  .aclaraciones {
    text-align: start;
    padding: 2rem; }
  .hero {
    padding: 50rem 0; }
    .hero h2 {
      font-size: 6rem; }
  #grilla1 {
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    align-items: center;
    padding-bottom: 5rem;
    margin-left: 12rem; }
    #grilla1 .servicios {
      display: grid;
      padding: 1rem;
      margin: 0;
      width: 22rem;
      height: 21rem; }
    #grilla1 .servicios:hover {
      width: 23rem;
      height: 22rem; }
  .aclaraciones p {
    text-align: start;
    padding: 1rem; }
  .card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0; }
    .card .card__habitaciones {
      width: 23rem;
      height: 48rem;
      margin: 0 3rem; }
    .card .card__habitaciones:hover {
      width: 24rem;
      height: 49rem; }
    .card .card__contenido {
      margin: 0; }
  .formulario {
    width: 65rem; }
    .formulario .boton {
      width: 15%;
      font-weight: bold; } }

h2 {
  color: #8B4513;
  text-align: center;
  font-size: 3rem;
  padding: 5rem;
  font-weight: bold; }

.sombra {
  box-shadow: 0px 0px 10px 1px #999; }

.formulario {
  margin: 0 auto;
  padding: 10rem 0; }
  .formulario fieldset {
    flex-direction: column;
    background-color: white;
    width: 100%;
    border: none;
    border-radius: 1rem; }
  .formulario legend {
    text-align: center;
    color: #ca9e64;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 4rem;
    margin-bottom: 2rem; }
  .formulario .boton {
    display: inline;
    padding: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: .5rem;
    color: #8B4513;
    background-color: #faf3e7;
    margin: 0 1rem 3rem 0;
    border: none;
    cursor: pointer; }

.contenidoCampos {
  align-items: center;
  padding: 3rem; }
  .contenidoCampos label {
    color: #8B4513;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    padding-right: 2rem;
    display: block; }

.fechas, .label-none {
  display: inline;
  justify-content: space-evenly;
  padding: 1rem; }

.campo {
  margin-bottom: 1.5rem; }
  .campo .input-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    border: none;
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: .5rem;
    display: inline;
    width: 100%;
    height: 100%; }
  .campo .input-text:focus {
    border-color: #ca9e64;
    font-size: 1.8rem; }

.campo-fechas {
  display: flex; }
  .campo-fechas label {
    color: #8B4513;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0 1rem;
    display: block; }
    .campo-fechas label #label-none {
      display: inline; }

#map {
  width: 100%;
  height: 580px;
  margin-top: 10rem;
  box-shadow: 2px 2px 15px 1px #888; }

.footer__nav, .footer__icono {
  justify-content: left; }

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 20%; }
  .footer__nav a:hover {
    font-size: 2rem; }
  .footer__nav li {
    font-size: 1.8rem;
    list-style-type: unset;
    padding: 1rem 1rem 0 1rem;
    letter-spacing: 1.5px; }

.footer__texto {
  color: #6d6c6c;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 0 2rem 0; }

.footer__icono {
  display: inline;
  justify-content: left; }

.contacto {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: left;
  padding: 0 2rem;
  color: #ca9e64; }
  .contacto a {
    color: #ca9e64;
    cursor: pointer;
    text-decoration: none; }
  .contacto a:hover {
    color: #ca9e64;
    font-weight: bold;
    font-size: 1.9rem; }
  .contacto svg:hover {
    width: 35px;
    height: 35px; }

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 2rem; }
  .contenedor-contacto p {
    font-size: 3rem; }
